{
  "name": "${node_pkg}",
  "version": "${node_version}",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/jkitsao/tyr.git"
  },
  "author": "Jackson kitsao <kitsaojackson22@gmail.com>",
  "homepage": "https://github.com/jkitsao/tr#readme",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ]
}
